name: Build and Push Docker Image

on:
  push:
    branches:
      - v1.2.2_fix_search
  workflow_dispatch:
  
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # nécessaire pour pousser sur ghcr.io

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}  # automatique, rien à configurer

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/pikuboy/skybridge-for-bluesky:latest
              ghcr.io/pikuboy/skybridge-for-bluesky:${{ github.run_number }}

          cache-from: type=gha   # cache entre les builds pour aller plus vite
          cache-to: type=gha,mode=max
